<a href="https://colab.research.google.com/github/bharath5293/data-handling/blob/main/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("/content/drive/MyDrive/train.csv")
print(df)

     survived  pclass                                               name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1       3                             Heikkinen, Miss. Laina
3           1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0       3                           Allen, Mr. William Henry
..        ...     ...                                                ...
886         0       2                              Montvila, Rev. Juozas
887         1       1                       Graham, Miss. Margaret Edith
888         0       3           Johnston, Miss. Catherine Helen "Carrie"
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

        sex   age  sibsp  parch            ticket     fare cabin embarked
0      male  22.0      1      0         A/5 21171   7.2500   NaN        S
1    female  38.0      1      0          PC 17599  71.2833   C85        C
2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3    female  35.0      1      0            113803  53.1000  C123        S
4      male  35.0      0      0            373450   8.0500   NaN        S
..      ...   ...    ...    ...               ...      ...   ...      ...
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

In [5]:
null_values = df.isnull().sum()
print(null_values)

survived      0
pclass        0
name          0
sex           0
age         177
sibsp         0
parch         0
ticket        0
fare          0
cabin       687
embarked      2
dtype: int64

In [7]:
age_mean = df['age'].mean()
df['age'].fillna(age_mean, inplace=True)
df.to_csv('train_filled.csv', index=False)
print("Null values filled with mean of age and saved to train_filled.csv")
print(age_mean)

Null values filled with mean of age and saved to train_filled.csv
29.69911764705882

In [8]:
df.drop(columns=['cabin'], inplace=True)
df.to_csv('train_without_cabin.csv', index=False)
print("Column 'cabin' dropped and saved to train_without_cabin.csv")

Column 'cabin' dropped and saved to train_without_cabin.csv

In [11]:
passengers_over_40 = df[df['age'] > 40][['name', 'age']]
print(passengers_over_40)

                                                  name   age
6                              McCarthy, Mr. Timothy J  54.0
11                            Bonnell, Miss. Elizabeth  58.0
15                    Hewlett, Mrs. (Mary D Kingcome)   55.0
33                               Wheadon, Mr. Edward H  66.0
35                      Holverson, Mr. Alexander Oskar  42.0
..                                                 ...   ...
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  48.0
865                           Bystrom, Mrs. (Karolina)  42.0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0
873                        Vander Cruyssen, Mr. Victor  47.0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0

[150 rows x 2 columns]

In [14]:
first= df.iloc[:2]
last = df.iloc[-2:]
merged_df = pd.concat([first, last])
print(merged_df)

     survived  pclass                                               name  \
0           0       3                            Braund, Mr. Owen Harris
1           1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
889         1       1                              Behr, Mr. Karl Howell
890         0       3                                Dooley, Mr. Patrick

        sex   age  sibsp  parch     ticket     fare cabin embarked
0      male  22.0      1      0  A/5 21171   7.2500   NaN        S
1    female  38.0      1      0   PC 17599  71.2833   C85        C
889    male  26.0      0      0     111369  30.0000  C148        C
890    male  32.0      0      0     370376   7.7500   NaN        Q